<?xml version="1.0"?>
<configuration>
  
  <connectionStrings>
    <add name="CMSDBConnectionString" connectionString="Data Source=tcp:np000041.database.windows.net,1433;Initial Catalog=np000041;Persist Security Info=False;User ID=np000041;Password=monika@123Kawaii;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
  
  </connectionStrings>
  <system.web>

    <webServices>
      <protocols>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    
  </system.web>   

</configuration>